{% import_yaml "slurm/defaults.yaml" as defaults %}
{% import_yaml "slurm/osmap.yaml" as osmap %}

{# get settings from the os_family grain via osmap and merge with defaults #}
{% set defaults = salt['grains.filter_by'](osmap, merge=defaults) or {} %}

{# merge pkgs into combined dict #}
{% set pkgs = salt['pillar.get']('pkgs', default=defaults.pkgs, merge=True) %}
{# merge slurm into combined dict #}
{% set slurm = salt['pillar.get']('slurm', default=defaults.slurm, merge=True) %}
{# merge slurmdbd into combined dict #}
{% set slurmdbd = salt['pillar.get']('slurmdbd', default=defaults.slurmdbd, merge=True) %}
{# merge nodes into combined dict #}
{% set nodes = salt['pillar.get']('nodes', default=defaults.nodes, merge=True) %}
{# merge partitions into combined dict #}
{% set partitions = salt['pillar.get']('partitions', default=defaults.partitions, merge=True) %}
{# merge cgroups into combined dict #}
{% set cgroups = salt['pillar.get']('cgroups', default=defaults.cgroups, merge=True) %}
