{% import_yaml "slurm/defaults.yaml" as defaults %}
{% import_yaml "slurm/osmap.yaml" as osmap %}

{# get settings from the os_family grain via osmap and merge with defaults #}
{% set defaults = salt['grains.filter_by'](osmap, merge=defaults) or {} %}

{# merge actual slurm pillar into above combined dict #}
{% set slurm = salt['pillar.get']('slurm', default=defaults.slurm, merge=True) %}
